<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="auth">
    <span><%= link_to 'Головна', root_path, { class: "btn btn-primary main" } %></span>
    <% if user_signed_in? %>
        <div class="greeting">
          <span><%= link_to "Привіт, #{current_user.first_name}", user_path(current_user) %></span>
          <% if current_user.messages_count > 0 %>
              <p>Нових повідомлень: <%= link_to "#{current_user.messages_count}", not_read_messages_path %></p>
          <% end %>
        </div>
        <span><%= link_to 'Вийти', destroy_user_session_path, { class: "btn btn-primary", method: :delete } %></span>
    <% else %>
        <span><%= link_to 'Увійти', new_user_session_path, { class: "btn btn-primary" } %></span>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
